:root {
    --main-color-1: rgb(255, 0, 0);
    --alt-color-1: black;
    --alt-color-2: white;

}

::selection {
    background-color: var(--alt-color-1);
    color: var(--main-color-1);
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
     Verdana, sans-serif;
     font-size: 1.2rem;
     line-height: 1;
     color: var(--alt-color-2);
     background-color: var(--alt-color-1);
     padding: 10px 10px;
  
}

h1 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 3px 3px var(--alt-color-1);
    padding-top: 15px;
}
h2,h3,h4 {
    font-size: 2.8rem;
    display:block;
    text-align: center;
    color: var(--alt-color-2);
    position: relative;
    text-shadow: 2px 2px var(--alt-color-1);
    padding-top: 15px;
}

.background-about-me {
    height: 100%;
    width: 100%;
    background-image: url(../images/avs.JPG);
    background-size: cover;
    background-position: center;
}

.background-head {
    height: 150%;
    width: 100%;
    background-image: url(../images/background.JPG) ;
    background-size: cover;
    background-position: center;
}

.background-contact {
    height: 150%;
    width: 100%;
    background-image: url(../images/broncos.JPG);
    background-size: cover ;
    background-position: center;
}

.background-portfolio {
    height: 150%;
    width: 100%;
    background-image: url(../images/coors-field.JPG);
    background-size: cover;
    background-position: center;
}

.backgroud-resume {
    height: 150%;
    width: 100%;
    background-image: url(../images/mountains.JPG);
    background-size: cover;
    background-position: center;
}
.buttons {
    display: inline-block;
    color: var(--alt-color-1);
    background-color: var(--alt-color-2);
    justify-content: center;
    box-shadow: 10px 5px var(--main-color-1);
    padding: 1rem 5rem;

}

.button {
    border: 5px var(--alt-color-1);
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.contact {
    text-align: center;
    font-weight: 600;
    margin: 3rem;
    font-size: 4rem;
    color: var(--alt-color-2);
    text-shadow: 2px 2px var(--alt-color-1);
}

.contact-me {
    display:inline-block;
    justify-content: center;
    text-decoration: none;
    
}
.about-me {
   
   padding-bottom: 15px;
   width: 100%;
    
}

.about-me2 {
    display: inline-block;
    color:var(--alt-color-2);
    text-align: left;
    font-size: 1.8rem;
    text-shadow: 2px 2px var(--alt-color-1);
}
.about-me-txt {
    width: 70%;
}

.head-shot {
    height: 30%;
    width: 30%;
}

.email {
    padding-bottom: 15px;
    justify-content: center;
}
.portfolio {
    height: 33%;
    width: 33%;
}

.container {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: var(--alt-color-1);
    color: var(--alt-color-2);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .container .btn:hover {
    background-color: black;
  }

/* https://www.w3schools.com/howto/howto_css_button_on_image.asp helped add button over and image */
@media screen and (max-width:884px) {
    body {
        flex: 0 0 50%;
        max-width: 100%;
        flex-direction: column;
    }
    .email {
        font-size: 1rem;
        padding-top: 15px;
    }
}